body{
	background-color:#e0e0d1;
	font-family: 'Roboto', sans-serif;
}
nav .btn{
	background-color:#f3e03d;
}
.navbar-dark .navbar-nav .nav-link{
	color:black;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color:black;
}

}
header{
	background-color:white;
	font-size:0.85rem;
}
header img{
	height:15x;
	width:15px;
}
header h6{
	font-size:.95rem;
}
header p{
	margin-bottom:4px;
}

@media(max-width:767px){
	header,footer{
		text-align:center;
	}
	header .col-1,.col-10,i{
		padding-left:0px;
		padding-right:0px;
	}
	
	
}

.carousel-inner,.carousel-item{
	height:450px;
}
.carousel-caption img{
	width:150px;
	height:50px;
}

#mycarousel span{
	
	border-radius:5px;
	background-color:#dedede;
	padding:1.25rem;
}
#mycarousel span:hover{
	background-color:#5fdd7f;
}

.mobcarousel{
	background-image:url("images/tendulkar.jpg");
	background-size:100% 100%;
	height:50vh;
	width:100%;
}
.mobcarousel img{
	border-radius:5px;
	background-color:#b3b3b3;
	padding:.5rem;	
	margin-top:14rem;
}
.card{
	height:auto;
}


@media(max-width:991px){
	.card{
		height:auto;
	}
}
.card h4{
	font-size:1.25rem;
}
.card h5{
	font-size:1rem;
}

#articleSection p{
	font-size:.85rem;
	margin-bottom: .75rem;
}
#articleSection .card-title{
	    margin-bottom: .5rem;
}
